# Lesson 1

Setting a variable

In [41]:
x = 5

In [9]:
#You can return your variable by simply typing the x and then running it

In [11]:
x

5

In [12]:
#You can also return you variable (Python3) by using the print function

In [6]:
print(x)

5

In [7]:
# You cannot use the print function without () in Python 3, but it 
#will accept it in Python 2

In [42]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-42-0b640320f694>, line 1)

In [9]:
#You can also set multiple variable in a single line as seen below

In [43]:
a,b = 1,2

In [44]:
a

1

In [45]:
print(a)

1

In [46]:
b

2

In [47]:
print(b)

2

Numbers and Boolean

In [22]:
#You can check the type of a variable by using the type() function
#Below we can see the difference between int and float
#Integers are positive or negative whole numbers
#Float values are real numbers (decimal points)

In [19]:
x1 = 5
x2 = -5
x3 = 2.5

In [48]:
type(x1)

int

In [21]:
type(x2)

int

In [49]:
type(x3)

float

In [23]:
#You can also change the type of a variable by using the int() and float()

In [24]:
int(x3)

2

In [29]:
float(x1)

5.0

In [30]:
#Boolean values are a "true" or "false" value 
#Boolean values must be capitalized (True and False)

In [32]:
x4 = True

type(x4)

bool

Strings

In [33]:
#Strings are text values that are composed of a sequence of characters
#As seen below, you can use single or double quotes

In [50]:
print('Jack')

Jack

In [54]:
print("Jack's computer")

Jack's computer

In [41]:
#You can also set a variable to be equal to a string and print it either
#using simply the variable or the print function

In [33]:
x5 = 'Jack'

In [36]:
x5

'Jack'

In [44]:
print(x5)

Jack

In [45]:
#Below is a failed attempt to combine an int and str
#An error will occur

In [37]:
y = 10
print(y + 'dollars')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
#To fix this, you can turn y into a string by adding the str()

In [40]:
y = 10
print(str(y)  + ' dollars')

10 dollars